.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid grey;
    background-color: skyblue;
    width: 200px;
    height: 150px;
    margin: 1%;
    padding: 5px;
}
